@import "@/styles/mixins";
@import "@/styles/variables";
.order-sent {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  font-family: var(--base-font);
  font-style: normal;
  &__processingTitle {
    font-size: 18px;
    text-align: center;
  }
  &__notification {
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 12px;

    > h5 {
      color: var(--black-color);

      font-size: 16px;
      font-weight: 700;
      line-height: 24px; /* 150% */
      margin: 0;
    }

    > p {
      color: var(--gray3);
      font-size: 14px;
      font-weight: 400;
      line-height: 22px;
      margin: 0;
    }

    > div {
      font-size: 14px;
      font-weight: 400;
      line-height: 22px;

      > p {
        margin: 0;
        color: var(--gray10);

        &:first-child {
          margin-bottom: 8px;
        }
        &:last-child {
          color: var(--gray-black3);
          font-size: 20px;
          font-weight: 500;
          line-height: 28px;
        }
      }
    }
  }

  &__info {
    width: 372px;
    padding: 16px 24px;
    border-radius: 8px;
    background: var(--neutral-3);
    @include mobile {
      width: 100%;
      padding: 16px 5px;
    }
    > div {
      display: flex;
      justify-content: space-between;
      align-items: center;

      &:not(:last-child) {
        margin-bottom: 4px;
      }

      &:last-child {
        > p:first-child {
          display: flex;
          align-items: center;
          gap: 8px;

          > svg {
            color: var(--gray3);
          }
        }
      }

      > p {
        margin: 0;

        &:first-child {
          color: var(--gray10);
        }

        &:last-child {
          color: var(--neutral-11);
        }
      }
    }
  }

  &__btn {
    height: auto;
    width: 180px;
    padding: 7px 15px;
    border-radius: 2px;
    font-family: var(--base-font);
    box-shadow: 0px 2px 0px 0px rgba(0, 0, 0, 0.02);
    color: var(--gray-black3);
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 22px;

    &.view-wallet {
      border: 1px solid var(--gray7);
      background: var(--neutral-1);

      /* drop-shadow/button-secondary */
      box-shadow: 0px 2px 0px 0px rgba(0, 0, 0, 0.02);

      &:focus {
        color: var(--gray-black3) !important;
      }

      &:hover {
        color: var(--white-color) !important;
        background: var(--base-color) !important;
        border-color: var(--base-color) !important;
      }
    }

    &.view-history {
      border: 1px solid var(--base-color);
      background: var(--base-color);
      color: var(--white-color);

      &:focus {
        color: var(--white-color) !important;
      }

      &:hover {
        color: var(--gray-black3) !important;
        background: transparent !important;
        border-color: var(--gray7) !important;
      }
    }
  }
}
