.hpTree {
  :global {
    .ant-tree {
      background-color: transparent !important;
    }
    .ant-tree-node-content-wrapper {
      display: flex;
      align-items: center;
      column-gap: 12px;
      padding: 0px;
      .ant-tree-title {
        font-family: var(--base-font);
        color: var(--gray-black3);
        font-size: 16px;
        line-height: 24px; /* 150% */
        white-space: nowrap;
      }
    }
    .ant-tree-switcher {
      display: flex;
      align-items: center;
      justify-content: center;
      svg {
        width: 16px;
        height: 16px;
      }
    }
  }
}
