@import "@/styles/mixins";
@import "@/styles/variables";
.checkout-page {
  font-family: var(--base-font);
  display: flex;
  column-gap: 30px;
  justify-content: center;
  margin: 100px 0px;

  @include mobile {
    margin: 20px 0px;
  }
}
