@import "@/styles/mixins";
@import "@/styles/variables";
.timeline-item {
  display: flex;
  align-items: center;
  gap: 10px;

  &__tail {
    width: 40px;
    height: 2px;
    background: var(--base-color);
  }
}
