@import "@/styles/variables";
@import "@/styles/mixins";

.container {
  margin-top: 20px;

  @include mobile {
    margin-top: 0;
    width: 100%;
  }
  .form {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 20px;
    width: 440px;

    @include mobile {
      width: 100%;
      row-gap: 32px;
    }

    .title {
      font-size: 38px;
      font-weight: 500;
      margin-bottom: 12px;

      @include mobile {
        font-size: 24px;
        line-height: 32px;
        margin-bottom: 0;
      }
    }
    .highlightText {
      color: var(--base-color);
      cursor: pointer;
    }
    .forgotPass {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 32px;

      :global {
        .ant-form-item {
          margin-bottom: 0px;
        }
      }
    }
    :global {
      .ant-form {
        width: 100%;
        font-family: var(--base-font);
      }
      .ant-form-item {
        margin-bottom: 16px;
        font-family: var(--base-font);
      }
      .ant-input-affix-wrapper {
        height: 40px;
        padding: 8px 12px;
        border-radius: 2px;
        font-family: var(--base-font);
      }
      .ant-input-password {
        height: 40px;
        border-radius: 2px;
        > input {
          padding: 0px;
          font-family: var(--base-font);
        }
      }

      .ant-checkbox-wrapper {
        font-family: var(--base-font);
        > span {
          padding-inline-end: 0px;
        }
        &:hover {
          .ant-checkbox {
            .ant-checkbox-inner {
              border-color: var(--base-color);
            }
          }
        }

        &.ant-checkbox-wrapper-checked {
          &:hover {
            .ant-checkbox {
              .ant-checkbox-inner {
                background-color: var(--base-color);
                border-color: var(--base-color);
              }
            }
          }
        }
      }

      .ant-checkbox {
        &.ant-checkbox-checked .ant-checkbox-inner {
          background-color: var(--base-color);
          border-color: var(--base-color);
        }

        &:hover {
          border-color: var(--base-color);
        }
      }

      .ant-btn {
        font-family: var(--base-font);
        border-radius: 2px;
        width: 100%;
        height: 38.8px;
        background-color: var(--base-color);
        font-size: 16px;
        font-weight: 500;
        color: var(--white-color);
        :disabled {
          background-color: var(--btn-bg-disabled);
          color: var(--btn-text-disabled);
        }
      }
    }

    &__alternative-signin {
      width: 100%;
      display: flex;
      column-gap: 16px;
    }

    .btnGF {
      font-weight: 400;
      background-color: var(--white-color);
      border: 1px solid var(--gray7);
      color: var(--black-color);
      font-family: var(--base-font);
      display: flex;
      align-items: center;
      justify-content: center;
      column-gap: 10px;
      > img {
        width: 20px;
        height: 20px;
      }

      > span {
        @include mobile {
          display: none;
        }
      }
    }
    .btnRedirectLogin {
      color: var(--gray-black3);
      margin-top: 12px;
    }
  }
}
