.renderLegend {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 24px;
  font-family: var(--base-font);
  color: #464e5f;
  margin-top: 24px;
  > div {
    display: flex;
    align-items: center;
    column-gap: 12px;
  }
  .dot {
    width: 12px;
    height: 12px;
    border-radius: 50%;
  }
}
.customTooltip {
  display: flex;
  padding: 6px 8px;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
  border-radius: 2px;
  background: var(--neutral-9, #434343);
  color: var(--white-color);
  font-family: var(--base-font);
  font-size: 14px;
  p {
    margin: 0px;
  }
}
