@import "@/styles/mixins";
@import "@/styles/variables";
.orderAdmin {
  padding: 0 120px;
  font-family: "Be Vietnam Pro";
  &__header {
    :global {
      .ant-select-selector {
        min-width: 140px;
        border-radius: 2px;
        padding: 8px 12px;
        font-family: "Be Vietnam Pro";
        font-size: 16px;
      }
    }
    .searchInput {
      max-width: 320px;
    }
    .filter {
      display: flex;
      justify-content: flex-end;
      font-size: 16px;
      &__showBy,
      &__sortBy {
        display: flex;
        gap: 20px;
        align-items: center;
      }
      &__sortBy {
        display: flex;
        padding-left: 32px;
      }
    }
  }
  &__pagination {
    margin-top: 30px;
  }
}
